@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B1726;

}

img {
    max-width: 100%;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Logo {
    color: #FF5A2C;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #FF5A2C;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

header-content {
    display: flex;
}
/*CAMBIO QUE YO CRAZY HICE*/
.header-txt h1 .juegoTitle {
    font-size: 60px;
    display: inline-block;
}
.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 60px;
    color: #FFFFFF;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-txt span {
    color: #db17ad;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #d32875, #9f195c, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-txt p {
    font-size: 17px;
    color: #E0E0E0;
    margin-bottom: 45px;
}

.butons {
    display: flex;
}

.rgb-soft-text {
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7eb9, #ff65a3, #7afcff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn-1,
.btn-2,
.btn-3 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #ff65a3;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff7eb9, #ff65a3, #7afcff);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s ease, transform 0.2s ease;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
    background-position: right;
    transform: scale(1.05);
}

.btr-2 {
    
    padding: 5px 25px;
    background-color: #FF5A2C;
    margin-right: 0;
    border-radius: 20px;
    color: #E0E0E0;
}


.Popular {
    padding: 100px 0;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 45px;
}

.popular-content {
    display: flex;
    justify-content: space-between;
}

.popular-content img {
    width: 150px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 39px;
}

.Product-1 {
    background-color: #2A223A;
    padding: 10px;
}

.Product-txt {
    padding: 50px 20px;
}

h3 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #FF5A2C;
}

.contac-container {
    padding: 150px 300px;
}

.contac-content { 
    background-color: #2A223A;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: #3f3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 17px;
}

::placeholder {
    font-size: 17px;
    color: #E0E0E0;
}

.btn-3 {
    background-color: #FF5A2C;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.link ul {
    display: flex;
}

.link ul li > a {
    font-size: 17px;
    color: #FFFFFF;
    margin-right: 20px;
}

.link ul li > a:hover {
    color: #FF5A2C;
}